.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 206px;
  height: 44px;
}
.social-list_footer {
  display: flex;
  align-items: center;
}
.social-list_footer :not(:last-child) {
  margin-right: 10px;
}
